/vendor/
/node_modules/
/public_html/build/
/storage/*.key
/storage/framework/
/storage/logs/
/storage/app/
/.env
/database/*.sqlite
/database/*.sqlite-*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-debug.log
.DS_Store
.idea/
.vscode/
/.trash/
/error_log
/public_html/blog/
/app/Models/*.bak
